body{
  background-image: url(./pokemon_wallpaper___poke_ball_theme_by_0trinima0_dd2zouo-pre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav{
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header{
  color: white;
  opacity: 0.8;
}

nav a:hover {
  background-color: #555;
  color: #fff;
  transition: background-color0 .3s, color 0.3s;
}

.über_uns{
  color: antiquewhite;
  text-align: center;
  margin-bottom: 300px;
  margin-top: -100px;
}

.öffnungszeiten{
  display: flex;
}

.Team{
  font-family: "Arial", sans-serif;
  margin-bottom: 50px;
  margin-top: -70px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #333333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-align: center;
  transition: color 0.3s ease-in-out;
  padding: 45px;
  flex-direction: column;
  display: flex;
}

.öffnungszeiten table{
  padding: 45px;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  width: 50%;
}

table{
  background-color: white;
}

footer a:hover {
  background-color: #555;
  color: #fff;
  transition: background-color0 .3s, color 0.3s;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}


