body{
  background-image: url(./istockphoto-1227082257-170667a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header{
  color: white;
  opacity: 0.8;
}
nav{
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10pX;
}
nav a:hover {
  background-color: #555;
  color: #fff;
  transition: background-color0 .3s, color 0.3s;
}
.F{
  margin-top: 10%;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 15px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
  background-color: red;
  opacity: 30%;
  background-clip: padding-box;
  padding: 10px;
}
.main_Feuer{
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
  color: white;
}
.Glurak {
  border: 1px solid #ccc; /* Umrandung der Box */
  padding: 10px; /* Abstand zwischen Inhalt und Umrandung */
  width: 200px; /* Breite der Box */
  float: right;
  text-align: center; /* Zentrieren des Inhalts */
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.Entei{
  border: 1px solid #ccc; /* Umrandung der Box */
  padding: 10px; /* Abstand zwischen Inhalt und Umrandung */
  width: 200px; /* Breite der Box */
  float: right;
  text-align: center; /* Zentrieren des Inhalts */
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.Blaziken{
  border: 1px solid #ccc; /* Umrandung der Box */
  padding: 10px; /* Abstand zwischen Inhalt und Umrandung */
  width: 200px; /* Breite der Box */
  float: right;
  text-align: center; /* Zentrieren des Inhalts */
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.Houndom{
  border: 1px solid #ccc; /* Umrandung der Box */
  padding: 10px; /* Abstand zwischen Inhalt und Umrandung */
  width: 200px; /* Breite der Box */
  float: right;
  text-align: center; /* Zentrieren des Inhalts */
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.Feuer-Beschreibung{
  display: flex;
  justify-content: center;
  color: white;
  opacity: 60%;
  background-color: #555555;
  margin-top: 15%;

}
footer a:hover {
  background-color: #555;
  color: #fff;
  transition: background-color0 .3s, color 0.3s;
}
