body{
  background-image: url(/images/istockphoto-1227082257-170667a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header{
  color: white;
  opacity: 0.8;
}
nav{
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10pX;
}
nav a:hover {
  background-color: #555;
  color: #fff;
  transition: background-color0 .3s, color 0.3s;
}
.F{
  margin-top: 10%;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 15px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
  background-color: red;
  opacity: 30%;
  background-clip: padding-box;
  padding: 10px;
}
/*.main_Feuer{*/
/*  flex-wrap: wrap;*/
/*  flex-direction: row;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  color: white;*/
/*}*/
/*.Glurak {*/
/*  border: 1px solid #ccc; !* Umrandung der Box *!*/
/*  padding: 10px; !* Abstand zwischen Inhalt und Umrandung *!*/
/*  width: 200px; !* Breite der Box *!*/
/*  float: right;*/
/*  text-align: center; !* Zentrieren des Inhalts *!*/
/*  margin-top: 50px;*/
/*  margin-left: 50px;*/
/*  margin-right: 50px;*/
/*}*/
/*.Entei{*/
/*  border: 1px solid #ccc; !* Umrandung der Box *!*/
/*  padding: 10px; !* Abstand zwischen Inhalt und Umrandung *!*/
/*  width: 200px; !* Breite der Box *!*/
/*  float: right;*/
/*  text-align: center; !* Zentrieren des Inhalts *!*/
/*  margin-top: 50px;*/
/*  margin-left: 50px;*/
/*  margin-right: 50px;*/
/*}*/
/*.Blaziken{*/
/*  border: 1px solid #ccc; !* Umrandung der Box *!*/
/*  padding: 10px; !* Abstand zwischen Inhalt und Umrandung *!*/
/*  width: 200px; !* Breite der Box *!*/
/*  float: right;*/
/*  text-align: center; !* Zentrieren des Inhalts *!*/
/*  margin-top: 50px;*/
/*  margin-left: 50px;*/
/*  margin-right: 50px;*/
/*}*/
/*.Houndom{*/
/*  border: 1px solid #ccc; !* Umrandung der Box *!*/
/*  padding: 10px; !* Abstand zwischen Inhalt und Umrandung *!*/
/*  width: 200px; !* Breite der Box *!*/
/*  float: right;*/
/*  text-align: center; !* Zentrieren des Inhalts *!*/
/*  margin-top: 50px;*/
/*  margin-left: 50px;*/
/*  margin-right: 50px;*/
/*}*/
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  margin: 10px;
  padding: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  text-align: center;
}
.pokemon-card {
  margin: 10px;
  padding: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  flex-basis: calc(25% - 20px);
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.pokemon-card h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemon-card img {
  max-height: 150px;
  margin-bottom: 10px;
}


.Feuer-Beschreibung{
  display: flex;
  justify-content: center;
  color: white;
  opacity: 60%;
  background-color: #555555;
  margin-top: 15%;

}
footer a:hover {
  background-color: #555;
  color: #fff;
  transition: background-color0 .3s, color 0.3s;
}
