
.x{
  text-align: center;
  border: #118bee;
  border-radius: 5px;
  border-style: solid;
  border-width: 15px;
  margin-left: 130px;
  margin-right: 650px;
  margin-top: -150px;
  background-color: antiquewhite;
  background-clip: padding-box;
  padding: 10px;
}
body{
  background-image: url(./basic_pokemons__colors_by_yoshiyaki_d9i3dav-fullview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Beschreibung {
  transform: scale(1);
  margin-top: 80px;
  margin-left: 130px;
  margin-right: 650px;
  color: white;
  border: white;
  border-style: solid;
  background-clip: padding-box;
  padding: 10px;
}
.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding-top: 0px;
  margin-bottom: 45px;
  background-color: white;
}





