header{
  color: white;
  opacity: 0.8;
  }

.home {
  display: flex;
  flex-direction: column;
  background-image: url(/images/pexels-vincent-ma-janssen-1310847.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
:root {
  --primary-color: #ffcc00;
  --secondary-color: #333;
  --font-family: 'Roboto', sans-serif;
}

#pokemon-zoo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 40%;
}

.x {
  background-color: #118bee;
  color: #fff;
  flex-basis: 100%;
  opacity: 100%;
  padding: 2rem;
  text-align: center;
}

.x h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

/* Apply styles to description section */
.beschreibung {
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  opacity: 100%;
  line-height: 1.5;
  padding: 2rem;
  flex-basis: 100%;
}

.beschreibung p:first-of-type {
  margin-top: 0;
}

.beschreibung p:last-of-type {
  margin-bottom: 0;
}

nav{
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;

}
nav a:hover {
  background-color: #555;
  color: #fff;
  transition: background-color0 .3s, color 0.3s;
}
footer a:hover {
  background-color: #555;
  color: #fff;
  transition: background-color0 .3s, color 0.3s;
}
footer{
  color: white;
  background-color: black;
  max-width: 100%;
}

