body{
  background-image: url(./383741.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header{
  color: white;
}
.y{
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 15px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
  background-color: antiquewhite;
  opacity: 30%;
  background-clip: padding-box;
  padding: 10px;
  }
.main-container{
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #555555;
  opacity: 50%;
  margin-top: 50%;
}
.Feuer {
  border: 1px solid #ccc; /* Umrandung der Box */
  padding: 10px; /* Abstand zwischen Inhalt und Umrandung */
  width: 200px; /* Breite der Box */
  float: right;
  text-align: center; /* Zentrieren des Inhalts */
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;

}

.Feuer img {
  max-width: 80%; /* Maximale Breite des Bildes innerhalb der Box */
  height: auto; /* Verhindern von Verzerrungen des Bildes */
  margin-bottom: 10px; /* Abstand zwischen Bild und Name */
}

.Feuer h2 {
  font-size: 18px; /* Größe des Namens */
  margin: 0; /* Entfernen von Standardabständen */
}
.Wasser {
  border: 1px solid #ccc; /* Umrandung der Box */
  padding: 10px; /* Abstand zwischen Inhalt und Umrandung */
  width: 200px; /* Breite der Box */
  text-align: center; /* Zentrieren des Inhalts */
  margin-top: 50px;
  margin-left: 50px;
}

.Wasser img {
  max-width: 80%; /* Maximale Breite des Bildes innerhalb der Box */
  height: auto; /* Verhindern von Verzerrungen des Bildes */
  margin-bottom: 10px; /* Abstand zwischen Bild und Name */
}

.Wasser h2 {
  font-size: 18px; /* Größe des Namens */
  margin: 0; /* Entfernen von Standardabständen */
}

.Elektro {
  border: 1px solid #ccc; /* Umrandung der Box */
  padding: 10px; /* Abstand zwischen Inhalt und Umrandung */
  width: 200px; /* Breite der Box */
  text-align: center; /* Zentrieren des Inhalts */
  margin-top: 50px;
  margin-left: 50px;
}

.Elektro img {
  max-width: 80%; /* Maximale Breite des Bildes innerhalb der Box */
  height: auto; /* Verhindern von Verzerrungen des Bildes */
  margin-bottom: 10px; /* Abstand zwischen Bild und Name */
}

.Elektro  h2 {
  font-size: 18px; /* Größe des Namens */
  margin: 0; /* Entfernen von Standardabständen */
}
.Pflanze {
  border: 1px solid #ccc; /* Umrandung der Box */
  padding: 10px; /* Abstand zwischen Inhalt und Umrandung */
  width: 200px; /* Breite der Box */
  text-align: center; /* Zentrieren des Inhalts */
  float: right;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;

}

.Pflanze img {
  max-width: 80%; /* Maximale Breite des Bildes innerhalb der Box */
  height: auto; /* Verhindern von Verzerrungen des Bildes */
  margin-bottom: 10px; /* Abstand zwischen Bild und Name */
}

.Pflanze    h2 {
  font-size: 18px; /* Größe des Namens */
  margin: 0; /* Entfernen von Standardabständen */
}
.Link_container {
  text-align: center;
}
