.y{
  text-align: center;
  border: #118bee;
  border-radius: 5px;
  border-style: solid;
  border-width: 15px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: -150px;
  background-color: antiquewhite;
  background-clip: padding-box;
  padding: 10px;
  }
