body{
  background-image: url(/images/pexels-erik-mclean-9661252.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header{
  color: white;
  opacity: 0.8;
}

nav{
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
  color: #fff;
  transition: background-color0 .3s, color 0.3s;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 2rem;
  max-width: 100%;
  opacity: 80%;
}

.titel {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.typen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.Elektro, .Wasser, .Feuer, .Pflanze {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.Elektro img {
  width: 100px;
  height: 100px;
}

.Wasser img {
  width: 100px;
  height: 100px;
}

.Feuer img {
  width: 100px;
  height: 100px;
}

.Pflanze img {
  width: 150px;
  height: 150px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #333;
}

.Link_container {
  text-align: center;
}

footer a:hover {
  background-color: #333333;
  color: #ffffff;
  transition: background-color0 .3s, color 0.3s;
}

footer{
  color: black;
  margin-top: 50%;
}

@media (max-width: 768px) {
  .main-container {
    margin-top: 100%;
  }

  .Feuer, .Wasser, .Elektro, .Pflanze {
    margin: 10px;
  }

  .Feuer, .Wasser {
    width: 100%;
  }

  .Elektro, .Pflanze {
    width: calc(50% - 20px);
  }
}

